
@media only screen and (min-width:700px) {
    

    .navbar{
        width: 250px;
        padding:15px;
        padding-bottom:150%;
        position: absolute;
        left:0px;
        background-color: rgb(185, 96, 197);
    }
    
    .bg-JK{
        background-color: rgb(153, 137, 255);
    }
    .navbar-nav{
        margin-top:50px;
       
    }
    .nav-item{
        padding-top:10px;
        margin-left:20px;
    }
    }
    
    @media only screen and(max-width:500px){
        .img{
            display:none;
        }
    }